/* Estilize o corpo da página */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.header {
    background-color: #3E899A;
    padding: 2em;
    text-align: center;
    color: #fff;
}
  
  /* Estilize o container principal */
  .container { 
    margin: 2% auto !important;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    
  }

  .cont-se {
    height: 10% !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    
  }

  .form-imc {
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 0 0 1.5%;
    width: 417px;
    height: 381px;
  }

  .form-control {
    width: 50%;
    margin: 0.5%;
    font-size: 80%;
  }

  .form-label {
    padding: 0;
    margin: 0;
  }

  .form {
    margin: 0 0 2em 2em;
    padding: 1em;
    
  }
  
  .img-homem-mulher {
    width: 150%;
  }

  .btn-imc {
    margin-top: 0.5%;
  }

  #btmulher {
    background-color: rgb(225, 150, 175);
    color: #fff;
  }

  #bthomem {
    background-color: rgb(100, 143, 243);
    color: #fff;
  }

  .calcular {
    margin: 22% 0 6% 10%;
    margin-top: 0.5%;
    color: #fff;
  }

  .resultado {
    background-color: #D9D9D9;
    padding: 3%;
    border-radius: 5px;
    width: 417px;
    height: 381px;
    text-align: center;
  }

  .imc-color {
    color: #fff;
  }

  .teste {
    color: red;
  }

  .resultado p {
    margin-top:10px 0 10px 0;
    font-weight: bold;
    padding: 2px;
  }

  .imc-resultado {
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 417px;
    height: 381px;
    margin: 0 0 1.5% ;
    flex-direction: row ;
    text-align: center ;
    justify-content: center;
    align-items: center;
    
  }

  .table{
    margin-top:10%;
    font-size: 10px;
  }
  .table tr { padding: 0; height:0em; }

  footer {
    background-color: #3E899A;
    padding: 2%;
    flex-shrink: 0;
  }

  /* Dispositivos muito pequenos (telefones retrato, menos de 576px)*/
@media (max-width: 575.98px) {
  .header {
    width: 100%;
  }
.container {
  width: 100% !important;
  margin: 1% 0 auto !important;
}

.cont-se {
  height: 8% !important;
  border-radius: 5px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

.texto {
  margin: -2% 0 30% !important;
  text-align: justify !important;
  font-size: 15px !important;
}

.form-imc,
.imc-resultado,
.resultado {
  width: 100%;
}
.img-homem-mulher {
  width: 30%;
}
#btmulher,
#bthomem {
  width: 50%;
}
.calcular {
  width: 100%;
  margin: 20% 0 10% 0%;
}

.form-label {
  width: 60%;
  font-size: 10px;
  margin: 0;
}

.form-control {
  width: 60%;
  font-size: 50%;
  margin: 0;
}


.btn-imc {
  margin-top: 0.5%;
}


.table {
  margin-top: 15%;
  font-size: 50%;
  font-weight: bold;
}

.table tr {
  padding: 0;
  height: 0;
}

footer {
  width: 100% !important;
}


}
  /* Dispositivos pequenos (telefones em paisagem, 576px e superiores)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
  .header {
      width: 100%;
    }
  .container {
    width: 100%;
    margin:  1% auto !important;
  }

  .texto {
    margin: 0% 0 30% !important;
    text-align: justify !important;
    font-size: 15px !important;
  }
  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  .img-homem-mulher {
    width: 60%;
  }
  #btmulher,
  #bthomem {
    width: 100%;
  }
  .calcular {
    width: 100%;
    margin: 8% 0 6% 0%;
  }
  
  .form-control {
    width: 80%;
  }
  
  .btn-imc {
    margin-top: 0.5%;
  }
  
  .table {
    margin-top: 15%;
    font-size: 9px;
    font-weight: bold;
  }
  
  .table tr {
    padding: 0;
    height: 0;
  }
  
  footer {
    width: 100%;
  }

  }
  
  
/* Dispositivos médios (tablets, 768px e superiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.header {
  width: 100%t;
  }
.container {
  width: 100%;
  margin:  1% auto;
}

.texto {
  margin: 0% 0 30% !important;
  text-align: justify !important;
  font-size: 15px !important;
}

.form-imc,
.imc-resultado,
.resultado {
  width: 100%;
}
.img-homem-mulher {
  width: 100px;
}

#btmulher,
#bthomem {
  width: 100%;
}
.calcular {
  width: 100%;
  margin: 8% 0 6% 0%;
}

.form-control {
  width: 80%;
}


.btn-imc {
  margin-top: 0.5%;
}


.table {
  margin-top: 30%;
  font-size: 10px;
}

.table tr {
  padding: 0;
  height: 0;
}

footer {
  width: 100%;
}

}
  
  
  /* Dispositivos grandes (desktops, 992px e superiores)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
      width: 100%;
    }
  .container {
    width: 100% !important;
    margin:  1% auto !important;
  }

  .cont-se {
    height: 10em !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    font-size: 10px;
  }

  .texto {
    margin: 0% 0 5% !important;
    text-align: justify !important;
    font-size: 15px !important;
  }

  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  
  #btmulher,
  #bthomem {
    width: 100%;
  }
  .calcular {
    width: 100%;
    margin: 8% 0 6% 0%;
  }

  .img-homem-mulher {
    width: 150px;
  }
  
  .form-control {
    width: 80%;
  }
  
  
  .btn-imc {
    margin-top: 2%;
  }
  
  
  .table {
    margin-top: 10%;
    font-size: 15px;
  }
  
  .table tr {
    padding: 0;
    height: 0;
  }
  
  footer {
    width: 100%;
  }

  }
  
  /* Dispositivos extragrandes (desktops grandes, 1200px e superiores)*/
  @media (min-width: 1200px) {
    .header {
      width: 100% !important;
    }
  .container {
    width: 100%;
    margin: 0.5% auto !important;
  }

  .cont-se {
    height: 6em !important;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    font-size: 15px;
  }

  .texto {
    margin: 0% 0 5% !important;
    text-align: justify !important;
    font-size: 15px !important;
  }


  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  .img-homem-mulher {
    width: 40% !important;
  }
  #btmulher,
  #bthomem {
    margin: 0.5% 0% 0% 0%;
    width: 30%;
  }
  .calcular {
    width: 30%;
    margin: 9%;
  }
  
  .form-control {
    width: 80%;
  }
  
  
  .btn-imc {
    margin-top: 2%;
  }
  
  
  .table {
    margin-top: 15%;
    font-size: 15px;

  }
  
  .table tr {
    padding: 0;
    height: 0;
  }
  
  footer {
    width: 100%;
  }

  }
