/* Estilize o corpo da página */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.header {
    background-color: #3E899A;
    padding: 2em;
    text-align: center;
    color: #fff;
}
  
  /* Estilize o container principal */
  .container { 
    margin: 2em;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
  }

  .form-imc {
    background-color: #D9D9D9;
    border-radius: 5px;
    margin: 0 0 1.5%;
    width: 417px;
    height: 381px;
  }

  .form-control {
    width: 80%;
    margin: 0.5%
  }

  .form-label {
    padding: 0;
    margin: 0;
  }

  .form {
    margin: 0 0 2em 2em;
    padding: 1em;
  }
  
  .img-homem-mulher {
    width: 150% !important;
  }

  .btn-imc {
    margin-top: 0.5% !important;
  }

  #btmulher {
    background-color: rgb(216, 153, 184);
    color: #fff;
  }

  #bthomem {
    background-color: rgb(149, 191, 233);
    color: #fff;
  }

  .calcular {
    margin: 22% 0 6% 10% !important;
    margin-top: 0.5% !important;
    color: #fff !important;
  }

  .resultado {
    background-color: #D9D9D9;
    padding: 3%;
    border-radius: 5px;
    width: 417px;
    height: 381px;
    text-align: center;
  }

  .imc-color {
    color: red;
  }

  .teste {
    color: red;
  }

  .resultado p {
    margin-top:10px 0 10px 0;
    font-weight: bold;
    padding: 2px;
  }

  .imc-resultado {
    background-color: #D9D9D9;
    border-radius: 5px;
    width: 417px;
    height: 381px;
    margin: 0 0 1.5%;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }

  .table{
    margin-top: 10% !important;
    font-size: 12px !important;
  }
  .table tr { padding: 0; height:0em; }

  .medida {
    text-align: justify;
  }

  footer {
    background-color: #3E899A;
    width: 1440px;
    height: 73px;
    flex-shrink: 0;
  }

  /* Dispositivos muito pequenos (telefones retrato, menos de 576px)*/
@media (max-width: 575.98px) {
  .header {
    width: 100%;
  }
.container {
  width: 100%;
  margin: 1em;
}
.form-imc,
.imc-resultado,
.resultado {
  width: 100%;
}
.img-homem-mulher {
  width: 30% !important;
}
#btmulher,
#bthomem {
  width: 100% !important;
}
.calcular {
  width: 100%;
  margin: 8% 0 6% 0% !important;
}

.form-control {
  width: 80%;
}


.btn-imc {
  margin-top: 0.5% !important;
}


.table {
  margin-top: 15% !important;
  font-size: 50% !important;
  font-weight: bold;
}

.table tr {
  padding: 0;
  height: 0;
}

.medida {
  text-align: justify;
}

footer {
  width: 100%;
}


}
  /* Dispositivos pequenos (telefones em paisagem, 576px e superiores)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
  .header {
      width: 100%;
    }
  .container {
    width: 100%;
    margin: 1em;
  }
  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  .img-homem-mulher {
    width: 60% !important;
  }
  #btmulher,
  #bthomem {
    width: 100% !important;
  }
  .calcular {
    width: 100%;
    margin: 8% 0 6% 0% !important;
  }
  
  .form-control {
    width: 80%;
  }
  
  .btn-imc {
    margin-top: 0.5% !important;
  }
  
  .table {
    margin-top: 15% !important;
    font-size: 9px !important;
    font-weight: bold;
  }
  
  .table tr {
    padding: 0;
    height: 0;
  }

  .medida {
    text-align: justify;
  }
  
  footer {
    width: 100%;
  }

  }
  
  
/* Dispositivos médios (tablets, 768px e superiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
.header {
  width: 100%;
  }
.container {
  width: 100%;
  margin: 1em;
}
.form-imc,
.imc-resultado,
.resultado {
  width: 100%;
}
.img-homem-mulher {
  width: 100px !important;
}

#btmulher,
#bthomem {
  width: 100% !important;
}
.calcular {
  width: 100% !important;
  margin: 8% 0 6% 0% !important;
}

.form-control {
  width: 80%;
}

.btn-imc {
  margin-top: 0.5% !important;
}

.table {
  margin-top: 30% !important;
  font-size: 10px !important;
}

.table tr {
  padding: 0;
  height: 0;
}

.medida {
  text-align: justify;
}

footer {
  width: 100%;
}

}
  
  
  /* Dispositivos grandes (desktops, 992px e superiores)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
      width: 100%;
    }
  .container {
    width: 100%;
    margin: 1em;
  }
  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  
  #btmulher,
  #bthomem {
    width: 100% !important;
  }
  .calcular {
    width: 100%;
    margin: 8% 0 6% 0% !important;
  }

  .img-homem-mulher {
    width: 150px !important;
  }
  
  .form-control {
    width: 80%;
  }
  
  .btn-imc {
    margin-top: 2% !important;
  }
  
  .table {
    margin-top: 10% !important;
    font-size: 15px;
  }
  
  .table tr {
    padding: 0;
    height: 0;
  }

  .medida {
    text-align: justify;
  }
  
  footer {
    width: 100%;
  }

  }
  
  /* Dispositivos extragrandes (desktops grandes, 1200px e superiores)*/
  @media (min-width: 1200px) {
    .header {
      width: 100%;
    }
  .container {
    width: 100%;
    margin: 1em;
  }
  .form-imc,
  .imc-resultado,
  .resultado {
    width: 100%;
  }
  .img-homem-mulher {
    width: 40% !important;
  }
  #btmulher,
  #bthomem {
    margin: 5% 0% 0% 0% !important;
    width: 100%;
  }
  .calcular {
    width: 100%;
    margin: 8% 0 6% 0% !important;
  }
  
  .form-control {
    width: 80%;
  }
  
  .btn-imc {
    margin-top: 2% !important;
  }
  
  .table {
    margin-top: 15% !important;
    font-size: 20px;

  }
  
  .table tr {
    padding: 0;
    height: 0;
  }

  .medida {
    text-align: justify;
  }
  
  footer {
    width: 100%;
  }

  }
  